# 1.şık cevap

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [66]:
from scipy import interpolate

In [74]:
import matplotlib.pyplot as plt

In [2]:
eğitim = pd.read_csv("state.csv")

In [3]:
eğitim

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,2017_VIRGINIA,VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.820619,288.761812,226.831211,269.371456

In [4]:
eğitim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [5]:
for eksik_değerler in eğitim.columns:
    print ("{} sütunundaki null değerlerin orani= {}".format(eksik_değerler,(sum(eğitim[eksik_değerler].isnull()))*100/len(eğitim)))

PRIMARY_KEY sütunundaki null değerlerin orani= 0.0
STATE sütunundaki null değerlerin orani= 0.0
YEAR sütunundaki null değerlerin orani= 0.0
ENROLL sütunundaki null değerlerin orani= 17.62734584450402
TOTAL_REVENUE sütunundaki null değerlerin orani= 14.20911528150134
FEDERAL_REVENUE sütunundaki null değerlerin orani= 14.20911528150134
STATE_REVENUE sütunundaki null değerlerin orani= 14.20911528150134
LOCAL_REVENUE sütunundaki null değerlerin orani= 14.20911528150134
TOTAL_EXPENDITURE sütunundaki null değerlerin orani= 14.20911528150134
INSTRUCTION_EXPENDITURE sütunundaki null değerlerin orani= 14.20911528150134
SUPPORT_SERVICES_EXPENDITURE sütunundaki null değerlerin orani= 14.20911528150134
OTHER_EXPENDITURE sütunundaki null değerlerin orani= 17.62734584450402
CAPITAL_OUTLAY_EXPENDITURE sütunundaki null değerlerin orani= 14.20911528150134
GRADES_PK_G sütunundaki null değerlerin orani= 11.595174262734584
GRADES_KG_G sütunundaki null değerlerin orani= 8.847184986595174
GRADES_4_G sütunundaki null değerlerin orani= 8.780160857908847
GRADES_8_G sütunundaki null değerlerin orani= 8.780160857908847
GRADES_12_G sütunundaki null değerlerin orani= 8.780160857908847
GRADES_1_8_G sütunundaki null değerlerin orani= 8.780160857908847
GRADES_9_12_G sütunundaki null değerlerin orani= 8.780160857908847
GRADES_ALL_G sütunundaki null değerlerin orani= 11.595174262734584
AVG_MATH_4_SCORE sütunundaki null değerlerin orani= 64.07506702412869
AVG_MATH_8_SCORE sütunundaki null değerlerin orani= 64.343163538874
AVG_READING_4_SCORE sütunundaki null değerlerin orani= 64.27613941018767
AVG_READING_8_SCORE sütunundaki null değerlerin orani= 66.62198391420911

In [5]:
eğitim.isnull().sum()*100/eğitim.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [18]:
def null_deger_hesapla(df):
    yüzde=df.isnull().sum()*100/df.shape[0]
    return yüzde

In [25]:
null_deger_hesapla(eğitim)

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [33]:
def null_deger_hesaplaa(df):
    yüzde = df.isnull().sum()*100/df.shape[0]
    adet = df.isnull().sum()
    return pd.DataFrame(list(zip(adet,yüzde)),columns = ["adet","yüzde"], index=df.columns)

In [34]:
null_deger_hesaplaa(eğitim)

                              adet      yüzde
PRIMARY_KEY                      0   0.000000
STATE                            0   0.000000
YEAR                             0   0.000000
ENROLL                         263  17.627346
TOTAL_REVENUE                  212  14.209115
FEDERAL_REVENUE                212  14.209115
STATE_REVENUE                  212  14.209115
LOCAL_REVENUE                  212  14.209115
TOTAL_EXPENDITURE              212  14.209115
INSTRUCTION_EXPENDITURE        212  14.209115
SUPPORT_SERVICES_EXPENDITURE   212  14.209115
OTHER_EXPENDITURE              263  17.627346
CAPITAL_OUTLAY_EXPENDITURE     212  14.209115
GRADES_PK_G                    173  11.595174
GRADES_KG_G                    132   8.847185
GRADES_4_G                     131   8.780161
GRADES_8_G                     131   8.780161
GRADES_12_G                    131   8.780161
GRADES_1_8_G                   131   8.780161
GRADES_9_12_G                  131   8.780161
GRADES_ALL_G                   173  11.595174
AVG_MATH_4_SCORE               956  64.075067
AVG_MATH_8_SCORE               960  64.343164
AVG_READING_4_SCORE            959  64.276139
AVG_READING_8_SCORE            994  66.621984

# 3. şık cevabı

# 1.yöntem

In [47]:
eğitim_list=["ENROLL","TOTAL_REVENUE","FEDERAL_REVENUE","STATE_REVENUE","LOCAL_REVENUE",
             "TOTAL_EXPENDITURE","INSTRUCTION_EXPENDITURE","GRADES_4_G","GRADES_8_G","GRADES_12_G",
             "GRADES_1_8_G","GRADES_9_12_G","GRADES_ALL_G","AVG_MATH_4_SCORE","AVG_MATH_8_SCORE",
             "AVG_READING_4_SCORE","AVG_READING_8_SCORE"]

In [36]:
eğitim2 = eğitim.copy()
yıllar = eğitim2["YEAR"].unique()
for col in eğitim_list:
    for yıl in yıllar:
        YIL_SART = eğitim2["YEAR"] == yıl
        eğitim2.loc[YIL_SART, col] = eğitim2.loc[YIL_SART, col].fillna(eğitim2[YIL_SART][col].mean())

In [37]:
null_deger_hesaplaa(eğitim2)

                              adet      yüzde
PRIMARY_KEY                      0   0.000000
STATE                            0   0.000000
YEAR                             0   0.000000
ENROLL                         107   7.171582
TOTAL_REVENUE                   51   3.418231
FEDERAL_REVENUE                 51   3.418231
STATE_REVENUE                   51   3.418231
LOCAL_REVENUE                   51   3.418231
TOTAL_EXPENDITURE               51   3.418231
INSTRUCTION_EXPENDITURE         51   3.418231
SUPPORT_SERVICES_EXPENDITURE   212  14.209115
OTHER_EXPENDITURE              263  17.627346
CAPITAL_OUTLAY_EXPENDITURE     212  14.209115
GRADES_PK_G                    173  11.595174
GRADES_KG_G                    132   8.847185
GRADES_4_G                     102   6.836461
GRADES_8_G                     102   6.836461
GRADES_12_G                    102   6.836461
GRADES_1_8_G                   102   6.836461
GRADES_9_12_G                  102   6.836461
GRADES_ALL_G                   102   6.836461
AVG_MATH_4_SCORE               860  57.640751
AVG_MATH_8_SCORE               860  57.640751
AVG_READING_4_SCORE            860  57.640751
AVG_READING_8_SCORE            860  57.640751

In [38]:
eğitim2

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,263.307067
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,218.410116,266.360319,212.712256,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,263.307067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,2017_VIRGINIA,VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.820619,288.761812,226.831211,269.371456

# 4. şık cevabı

In [68]:
eğitim3 = eğitim.copy()

for col in eğitim_list:
    eğitim3[col] = eğitim3.groupby("YEAR")[col].transform(lambda x:x.interpolate())
eğitim3

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,211.790904,258.776900,207.088116,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,265.519676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,2017_VIRGINIA,VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.820619,288.761812,226.831211,269.371456

In [69]:
null_deger_hesaplaa(eğitim3)

                              adet      yüzde
PRIMARY_KEY                      0   0.000000
STATE                            0   0.000000
YEAR                             0   0.000000
ENROLL                         107   7.171582
TOTAL_REVENUE                   51   3.418231
FEDERAL_REVENUE                 51   3.418231
STATE_REVENUE                   51   3.418231
LOCAL_REVENUE                   51   3.418231
TOTAL_EXPENDITURE               51   3.418231
INSTRUCTION_EXPENDITURE         51   3.418231
SUPPORT_SERVICES_EXPENDITURE   212  14.209115
OTHER_EXPENDITURE              263  17.627346
CAPITAL_OUTLAY_EXPENDITURE     212  14.209115
GRADES_PK_G                    173  11.595174
GRADES_KG_G                    132   8.847185
GRADES_4_G                     102   6.836461
GRADES_8_G                     102   6.836461
GRADES_12_G                    102   6.836461
GRADES_1_8_G                   102   6.836461
GRADES_9_12_G                  102   6.836461
GRADES_ALL_G                   102   6.836461
AVG_MATH_4_SCORE               860  57.640751
AVG_MATH_8_SCORE               860  57.640751
AVG_READING_4_SCORE            860  57.640751
AVG_READING_8_SCORE            861  57.707775